.carousel .thumb {
  -webkit-transition: border 0.15s ease-in;
  -moz-transition: border 0.15s ease-in;
  -ms-transition: border 0.15s ease-in;
  -o-transition: border 0.15s ease-in;
  transition: border 0.15s ease-in;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  width: 76px !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border: none;
  transform: scale(1.16);
  transition: transform 0.3s ease;
}

.carousel .thumbs-wrapper {
  width: 310px;
  margin: 0px;
  margin-top: 10px;
  overflow: hidden;
}

.carousel .thumbs-wrapper img {
  width: 85%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.carousel .thumbs-wrapper .control-arrow {
  display: none;
}

.carousel .slider-wrapper {
  width: 200px;
  cursor: pointer;
}

.carousel .slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  cursor: pointer;
  pointer-events: auto;
}

.carousel .control-dots {
  position: absolute;
  bottom: 0;
  margin: 8px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel .control-dots .dot {
  -webkit-transition: opacity 0.25s ease-in;
  -moz-transition: opacity 0.25s ease-in;
  -ms-transition: opacity 0.25s ease-in;
  -o-transition: opacity 0.25s ease-in;
  transition: opacity 0.25s ease-in;
  opacity: 0.3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background: #141c44;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  cursor: pointer;
  display: inline-block;
  margin: 0 3px;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #e2edff;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid #e2edff;
}
