.Logo-img {
  width: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

.BT-div {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
}

.Leaflet-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.Leaflet-img {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
